.footer {
    width: 100%;
    left: 0px;
    height: 100px;
    background-color: black;
    bottom: 0px;
    position: static;
    margin-top: 100%;
    width: 100%;
}

.container {
    margin-left: auto;
}

.footer-name {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 7px;
    top: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.5);
}

.copyright {
    position: absolute;
    font-size: 8px;
    left: 7px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 75px;
}

.block-list {
    margin-top: 10px;
    margin-bottom: 0.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.5);
}

.block-list-element:hover {
    opacity: 0.8;

}

.block-list-element {
    margin-bottom: 2px;
    margin-top: 15px;
}
